@page "/Code"

<div class="container p-3 text-light">
    <h3>Code</h3>
    <p>
        I'm a self-learning software engineer, currently working for a Point of Sale (POS) software company in Brisbane, Australia.
    </p>
    
    <h2>Languages</h2>
    <p>
        My primary language of choice is C#, but I'm working on learning more landuages such as C/C++, Go, Java, and Swift.
        I'm also studying programming language design in an attempt to create
        <a href="https://github.com/YuKitsune/katana" target="_blank">my own programming language</a>.
    </p>
    
    <h2>Certifications</h2>
    <p>
        I'm currently studying for AWS and Microsoft Azure certifications, and I plan on learning more about Machine Learning and Cyber Security in the near future.
    </p>
    
    <h2>Projects</h2>
    <!-- TODO: List of top projects here -->
    <p>
        If you wanna check out more of my code, you can head on over to my <a href="https://github.com/YuKitsune" target="_blank">GitHub</a>!
    </p>
</div>

@code {
    
}