@page "/"

<!-- I couldn't figure out how to use flexbox properly... -->

<div class="container">
    <div class="row">
        <div class="col">
            <CodeSection/>
        </div>
        <div class="col">
            <PhotographySection/>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <MusicSection/>
        </div>
        <div class="col">
            <ConnectSection/>
        </div>
    </div>
</div>
