@page "/"
@using Octokit

<!-- I couldn't figure out how to use flexbox properly... -->

<div class="container main-container">
    
    <div class="row text-center">
        <div class="col-sm">
            <Profile/>
        </div>
    </div>
    
    <div class="row">
        
        <!-- Left column -->
        <div class="col-sm">
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <SkillsSection/>
                </div>
                <div class="col-sm-6">
                    <CertificationsSection/>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <GoalsSection/>
                </div>
                <div class="col-sm-6">
                    <ConnectSection/>
                </div>
            </div>
        </div>
        
    </div>
    <div class="row">
        
        <div class="col-sm">
            <ProjectsSection/>
        </div>
        
    </div>

</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        GitHubClient client = new GitHubClient(new ProductHeaderValue("YuKitsune"));
        User user = await client.User.Get("YuKitsune");
        
    }
}