@page "/"
@using Octokit

<!-- I couldn't figure out how to use flexbox properly... -->

<div class="container">
    
    <div class="row text-center">
        <div class="col-sm">
            <Profile/>
        </div>
    </div>
    
    <div class="row">
        
        <div class="col-sm">
            
            <div class="row justify-content-center">
                <div class="col-sm-5">
                    <SkillsSection/>
                </div>
                <div class="col-sm-5">
                    <CertificationsSection/>
                </div>
            </div>
            
            <div class="row justify-content-center">
                <div class="col-sm-5">
                    <GoalsSection/>
                </div>
            </div>
            
        </div>
        
    </div>

</div>
    
<footer class="footer text-center">
    <div class="container">
        <span class="text-muted">YuKitsune - @CurrentYear</span>
    </div>
</footer>

@code {
    private string CurrentYear => DateTime.Now.Year.ToString();
}