
<div class="section">
        
    <h3 class="text-center">Code</h3>

    <div class="row">
        
        <div class="col-sm sub-section">
            <h4>Skills</h4>
            <ul>
                <li>C#/.NET (full-stack)</li>
                <li>Relational Databases (SQL)</li>
                <li>Microservices</li>
                <li>Software as a Service (SaaS)</li>
                <li>Software and Cloud Architecture</li>
            </ul>
        </div>

        <div class="col-sm sub-section">
            <h4>Projects</h4>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">OneSim</h5>
                    </div>
                    <p class="mb-1">
                        A virtual logbook and hanger manager for flight simulation enthusiests.
                    </p>
                    <small>Last activity: 3 days ago</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">JakeTheScraper</h5>
                    </div>
                    <p class="mb-1">
                        A lightweight and easy to use web scraper.
                    </p>
                    <small>Last activity: 5 minutes ago</small>
                </a>
            </div>
        </div>

    </div>

    <div class="row">
        
        <div class="col-sm sub-section">
            <h4>Goals</h4>
            <ul>
                <li>Learn C/C++, Java, Go and Swift</li>
                <li>Design a programming language</li>
                <li>Learn about Machine Learning</li>
                <li>Learn about Cyber Security</li>
            </ul>
        </div>

        <div class="col-sm sub-section">
            <h4>Certifications</h4>
            <small>Still currently studying for these...</small>
            <ul>
                <li>AWS Certified Solutions Architect - Associate</li>
                <li>Microsoft Certified: Azure Solutions Architect</li>
            </ul>
        </div>
        
    </div>
</div>

@code {
    
}