<div class="section">
    <h3>Connect</h3>
    <ul>
        <li>GitHub</li>
        <li>Discord</li>
        <li>Linkedin</li>
        <li>Instagram</li>
        <li>Email</li>
    </ul>
</div>

@code {
    
}