<div class="section">
    <h3>Goals</h3>
    <ul>
        <li>Learn C/C++, Java, Go and Swift</li>
        <li>Design a programming language</li>
        <li>Learn about Machine Learning</li>
        <li>Learn about Cyber Security</li>
    </ul>
</div>
@code {
    
}