<div class="profile section">
    <h1>YuKitsune</h1>
    <p class="lead">
        A self-learning Software Engineer, hobbiest photographer, and music producer.
    </p>
    <p class="lead">
        <a href="https://github.com/YuKitsune"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/eoinmoth/"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.instagram.com/eoin_motherway/"><i class="fab fa-instagram"></i></a>
        <a href="mailto:eoin@yukitsune.dev"><i class="fas fa-envelope"></i></a>
    </p>
</div>

@code {
    
}