<div class="section">
    <h3>Projects</h3>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">OneSim</h5>
            </div>
            <p class="mb-1">
                A virtual logbook and hanger manager for flight simulation enthusiests.
            </p>
            <small>Last activity: 3 days ago</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">JakeTheScraper</h5>
            </div>
            <p class="mb-1">
                A lightweight and easy to use web scraper.
            </p>
            <small>Last activity: 5 minutes ago</small>
        </a>
    </div>
</div>
@code {
    
}