<div class="section">
    <h3>Skills</h3>
    <ul>
        <li>C#/.NET (full-stack)</li>
        <li>Relational Databases (SQL)</li>
        <li>Microservices</li>
        <li>Software as a Service (SaaS)</li>
        <li>Software and Cloud Architecture</li>
    </ul>
</div>

@code {
    
}